body {
  font-family: "Roboto", sans-serif;
}

.title {
  background-color: #363636;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* #F2F2F2 */