* {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.image-wrapper-desktop {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image-wrapper-mobile {
  display: none;
}

.buttons-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  padding: 20px;
  margin: 0 20%;
  gap: 10px;
}

.buttons-wrapper,
.buttons-wrapper>button {
  border-radius: 10px;
}

.title,
.buttons-wrapper>button {
  background-color: #363636;
  color: #FFFFFF;
}

.buttons-wrapper>button {
  padding: 10px;
  width: 60%;
}

.title,
.buttons-title {
  font-weight: bold;
}

#question-0 {
  display: flex;
}

#question-1,
#question-2 {
  display: none;
}

@media only screen and (max-width: 425px) {
  section.title {
    display: none;
  }

  .buttons-wrapper {
    margin: 0;
    padding: 10px 5px;
  }

  .buttons-wrapper>button {
    width: 100%;
  }

  .image-wrapper-mobile {
    display: flex;
    justify-content: center;
  }

  .image-wrapper-desktop {
    display: none;
  }
}
